extends layout
block content
	.container
		h2 NodeJs MongoDB pagination example
		.success
		.error
		table
			tbody
				//- tr
				//-   th ID
				//-   th Name
				//-   th password

				//- each item in data
				//-  tr
				//-    td #{item['id']}
				//-    td #{item['name']}
				//-    td #{item['password']}         
		ul.pagination
			li.pre
				button(onclick='pre()') &laquo; 
			li.next
				button(onclick='next()') &raquo;
	script(src='https://code.jquery.com/jquery-3.1.1.min.js')
	script.
