doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src="http://code.jquery.com/jquery-1.12.0.min.js")
		script(src='javascripts/myjs.js')
	body
		block content
