.container{
  margin: 20px auto;
}
h2 {
  text-align: center;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

body{
  font-family:Arial, Helvetica, sans-serif;
  font-size:13px;
}
.success, .error{
  border: 1px solid;
  margin: 10px 0px;
  padding:15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
}

.success {
  color: #4F8A10;
  background-color: #DFF2BF;
/*  background-image:url('success.png');
*/  display: none;
}
.error {
  display: none;
  color: #D8000C;
  background-color: #FFBABA;
/*  background-image: url('error.png');
*/}
 .btn{
   background: #c0c0c0;
   color: #FFF;
 }

 .pagination{
    /*text-align: center;
    width: 50%;*/
    margin-left: 40%;


}
.pagination ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;


}
.pagination li{
    list-style-type: none;
    font-weight: bold;
    font-size: 13px;
    display: inline;
    padding: 0px 10px;
}

.pagination li a, .pagination li span{
  background-color: #fff;
  border: 1px solid #ddd;
  color: #337ab7;
  float: left;
  line-height: 1.42857;
  margin-left: -1px;
  padding: 6px 12px;
  position: relative;
  text-decoration: none;
}

.pagination li a:hover{
    text-decoration: none;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  margin-left: 0;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{

  background-color: #337ab7;
  border-color: #337ab7;
  color: #fff;
  cursor: default;
  z-index: 3;
}
